body {
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.container {
    display: flex;
    width: 80%;
    max-width: 80%;
    max-height:60%;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    margin: auto;
}

.contact-info, .contact-form-container {
    flex: 1;
    padding: 30px;
}

.contact-info {
    background-color: rgba(0, 0, 0, 0.1);
}

.contact-info h1, .contact-form-container h1 {
    margin-bottom: 20px;
}

.contact-form .form-group {
    margin-bottom: 15px;
}

.contact-form .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.contact-form .form-group input,
.contact-form .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

.contact-form .form-group textarea {
    resize: vertical;
}

.contact-form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: rgb(13, 110, 253);
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #218838;
}

.contact-form .form-group textarea {
    resize: none; /* deshabilito la redimensión */
}

/* ajuste de los iconos */
.icon-text {
    display: flex;
    align-items: center;
    margin: 10px;
}

.icon-text img {
    margin-right: 10px;
    width: 15px; /* Ajusta el tamaño según sea necesario */
    height: auto;
}