.contenedor-comentarios-clone{
    width: 100vw;
    height: 100vh;

    margin: 0 auto;
    padding: 0;

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

