.contenedor-contacto-comentarios{
    height: 300px;

    /* box-shadow: var(--sombra-caja); */

    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 20px;
}

.original-comentarios{
    margin: 0 auto;
    padding: 20px;

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;

    border: 1px solid rgba(0, 0, 0, 0.3);
    border-style: none none solid none;
}

.img-comentarios {
    border-radius: 50%;
}

.span-usuario {
    font-weight: 800;
    font-style: italic;
}

.p-comentarios{
    font-weight: 300;
    font-style: italic;
}