.header {
    background: none;
    width: 100%;
    max-height: var(--heigth-altura);

    border: none;

    display: flex;
    justify-content: space-between;

    z-index: 1;
}

.shadow-header {
    width: 100%;
    height: var(--heigth-altura);

    /* border: 1px solid var(--color-primario-fuerte); */

    filter: blur(3px) contrast(200%) hue-rotate(90deg);
    
    position: fixed;
    left: 0;
    top: 0;

    z-index: -1;
}

.grad1 {
    width: 100%;
    height: var(--heigth-altura);

    background-color: red; /* For browsers that do not support gradients */
    background-image: linear-gradient(black, white);

    position: fixed;
    left: 0;
    top: 0;

    opacity: .22;

    z-index: -2;
    
}

.caja-header-izq , .caja-header-der{
    padding: 0 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/* caja izquierda */
.logo {
    margin-right: 50px ;

}

.logo a img {
    width: 35px;
    background: transparent;
    color: var(--color-blanco);
    transition: transform 0.3s ease; /* Suaviza la transición */
}

.logo:hover{
    transform: scale(1.2);
}

.contenedor-nav .nav-links{
    display: flex;
    gap: 50px;
}

.contenedor-nav .nav-links a {
    font-weight: 700;
    text-transform: uppercase;
}

.contenedor-nav .nav-links a:visited {
    color: var(--color-blanco);
}

.contenedor-nav .nav-links a:active {
    color: var(--color-primario-fuerte);
}

.contenedor-nav .nav-links li:hover {
    transition: 0.3s;
    color: #025259;
    transform: scale(1.25);
}
/* fin caja izquierda */


/* caja derecha */

.caja-header-der {
    margin-right: 30px;
    padding: 0;

    width: 600px;

    display: grid;
    grid-template-columns: 1fr 1fr;
}


.search-input-box {
    
    max-width: 600px;
    width: 100%;
	border-radius: 5px;
	position: relative;
	box-shadow: 0 1px 5px 3px rgba(0, 0, 0, 0.12);
}

.search-input-box input {
    width: 100%;
	border: none;
	outline: none;
	border-radius: 5px;
	height: 35px;
	padding: 0 60px 0 20px;
	font-size: 14px;
}

/* Configuro la lupita para que quede 
adosada al cuadro de busqueda */
.icon {
    position: absolute;
	top: 7px;
	right: 15px;
	font-size: 22px;
	cursor: pointer;
	color: #0d141f;
}

.nav-icon-buscar::before {
    content: url("../img/search-regular-24.png");
    max-width: 20px;
    max-height: 20px;
}

.user_container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
}

.user_container div a{
    color: var(--color-blanco);

    font-weight: 700;
    text-transform: uppercase;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}
.btn_signup, .btn_login {
    margin-left: 0px;
    position: relative;
    float: left;
    min-height: 20px;
    padding: 10px;
}

.btn_signup a, .btn_login a {
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    color: white;
}

.btn_signup a:hover, .btn_login a:hover {
    transition: 0.3s;
    /*color: #025259;*/
    transform: scale(1.25);
}

.enlace:visited {
    color: var(--color-blanco);
}

.enlace:active {
    color: var(--color-primario-fuerte);
}