@media only screen and (max-width: 992px) {
    /* header */

    /* .mq-header {
        display: ;
    } */


    .mq-search{
        width: 125px;

        position: absolute;
        right: 20px;
    }

    /* fin header */


    /* main */
    .mq-main{
        margin: 0 auto;
        padding: 0;

        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    
    .mq-main-contenedor{
        margin: 0 auto;
        padding-top: 125px;

        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 20px;  
    }


    
    /* fin main */

    /* video */
    .mq-video{
        max-width: 1200px;
        
        position: absolute;
        top: 0; 
    }
    /* fin video */

    /* footer */
    .mq-footer{
        margin: 0 auto;
        padding: 0;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mq-shadow-footer{
        display: none;

        position: relative;
        bottom: 20px;

    }

    .mq-grad1-footer{ 
        width: 100%;

        display: flex;

        position: static;
        bottom: 20px;


    }
    .mq-footer-p {
        color: white;

        position: relative;
        bottom: 20px;
    }

    /* fin footer */
}
